/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}

/* Dark Theme */
.dark-theme {
  background-color: #070e16;
  color: #fff;
}

/* Header */
header.dark-theme {
  background-color: #070e16;
}

nav ul li a {
  color: white;
}

nav ul li a:hover {
  color: #ff0000;
}

/* Hero Section */
.hero.dark-theme {
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-position: center;
}

.hero-content {
  color: #fff;
}

.hero-content h1, .hero-content p {
  color: #fff;
}

.hero-content a {
  color: #fff;
}

.hero-content a:hover {
  background-color: #cc00cc;
  box-shadow: 0 0 15px #ff00ff, 0 0 30px #ff00ff;
}

/* About */
.about.dark-theme {
  background-color: #070e16;
  color: #fff;
}

.about-content h2, .about-content p {
  color: #fff;
}

/* Menu */
.menu.dark-theme {
  background-color: #070e16;
  color: #fff;
}

.menu-content h1, .menu-content p {
  color: #fff;
}

.menu-item {
  background-color: #1e262f;
  color: #fff;
  border-radius: 10px;
}

.menu-item h3 {
  color: #fff;
}

.menu-item p {
  color: #fff;
}

/* Footer */
.footer.dark-theme {
  background-color: #070e16;
  color: #fff;
}

.footer-links a, .footer-social a {
  color: #fff;
}

.footer-text {
  font-size: 14px;
}
